@charset "utf-8";
:global{
    .login-form{
        width: 33%;
        border:1px solid blue;
        border-radius: 15px;
        padding:20px;
        margin-top: 30px;
    }
    .login-form-button{
        margin:20px 10px;
    }
    .userMsg{
        display: flex;
        flex-wrap: wrap;
        position: relative;
        form{
            width: 30%;
            margin:10px;
            background: #fff;
        }
    }
    .tab{
        position: absolute;
        top:10px;
        left: 58px;
        cursor: pointer;
    }
    .adduser{
        background: lightseagreen;
    }
    .updatauser{
        background: lightseagreen;
    }
}